<!DOCTYPE html>
<html>
<body>
<div class="sidebar no-print" id="sidebar">
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'fixed')
        } catch (e) {
        }
    </script>
    <a href="/merchant">
        <img alt="avatar" class="merchant_logo" src="/img/logo/axis_logo.fw.png">
    </a>
    <ul class="nav nav-list tuto-navigate-axis-step-1">
        <li class="" data-intro="Create Customer" data-step="1">
            <a href="/customer/customerView">
                <i class="icon-user"></i>
                <b class="text-success">Clientèle</b>
            </a>
        </li>
        <li class="">
            <a href="/quote/quoteView">
                <i class="icon-info"></i>
                <b class="text-success">Devis / factures</b>
            </a>
        </li>
    </ul>
    <ul class="nav nav-list tuto-navigate-axis-step-2">
        <li class="">
            <a class="dropdown-toggle" href="#">
                <i class="icon-list"></i>
                <span class="menu-text"> Configuration d'entreprise </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="">
                    <a href="/company/bizprofile">
                        <i class="icon-double-angle-right"></i>
                        Profil d'entreprise </a>
                </li>

            </ul>
        </li>
        <li class="">
            <a class="dropdown-toggle" href="#">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Catalogues </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="">
                    <a href="/employee/index">
                        <i class="icon-double-angle-right"></i>
                        Utilisateurs </a>
                </li>
                <li class="">
                    <a href="/product/index">
                        <i class="icon-double-angle-right"></i>
                        Catalogue d'articles </a>
                </li>
                <li class="">
                    <a href="/supplier/index">
                        <i class="icon-double-angle-right"></i>
                        Fournisseurs </a>
                </li>
                <li class="">
                    <a href="/delivery-calculation/index">
                        <i class="icon-double-angle-right"></i>
                        Livraison </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a class="dropdown-toggle" href="#">
                <i class="icon-list"></i>
                <span class="menu-text"> Paramètres </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li class="">
                    <a href="/account/index">
                        <i class="icon-double-angle-right"></i>
                        Comptes de L'entreprise </a>
                </li>
                <li class="">
                    <a href="/category/index">
                        <i class="icon-double-angle-right"></i>
                        Catégories d'articles </a>
                </li>
                <li class="">
                    <a href="/role/index">
                        <i class="icon-double-angle-right"></i>
                        Rôles Utilisateur </a>
                </li>
                <li class="">
                    <a href="/setup/add">
                        <i class="icon-double-angle-right"></i>
                        Valeurs du Système </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="/report/index">
                <i class="icon-bar-chart"></i>
                <span class="menu-text"> Rapports (BI) </span>
            </a>
            <ul class="submenu">
                <li>
                </li>
            </ul>
        </li>
    </ul>
    <br>

</div>
</body>
</html>